@media only screen and (max-width:600px){
    
    [class*="col-fil"] {
      width: 100%;

    }
    .sign-in-heading
    {text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
    }
    .user-account{
    padding-bottom: 25em;
    padding-top: 1em;
    }
    
    .usr-acct-lbl{
    display: block;
    margin-left:6.0em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    text-transform: capitalize;
    font-weight:500;
    }
    
    .usr-acct-input{
    margin-left: 7em;
    width: 20em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 8em;
    outline: none;
    }
    
    .btn-user-submit{
    margin-left: 7.5em;
    padding: 0.5em;
    margin-top: 3em;
    width: 18em;
    background-color: red;
    border-radius: 10em;
    outline:none;
    border:0;
    cursor: pointer;
    }
    .btn-sign-in-message{
    
        margin-top: 2em;
        height: 3em;
        width: 20em;
        margin-left: 7.5em;
        text-align: center;
        line-height: 2em;
        background-color:skyblue;
        border-radius: 1em;
    
    }
    
    .show-password-signup{
    margin-left: 8em;
    font-size: 0.8em;
    }
    .show-pwd{
        font-size: 0.7em;
    }
    }


  

@media only screen and (min-width: 600px) and (max-width:767px){
    .col-fil-s-1 {width: 8.33%;}
    .col-fil-s-2 {width: 16.66%;}
    .col-fil-s-3 {width: 25%;}
    .col-fil-s-4 {width: 33.00%;}
    .col-fil-s-5 {width: 41.66%;}
    .col-fil-s-6 {width: 50%;}
    .col-fil-s-7 {width: 58.33%;}
    .col-fil-s-8 {width: 66.66%;}
    .col-fil-s-9 {width: 75%;}
    .col-fil-s-10 {width: 83.33%;}
    .col-fil-s-11 {width: 91.66%;}
    .col-fil-s-12 {width: 100%;}
  

    .sign-in-heading
    {text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
    }
    .user-account{
    padding-bottom: 25em;
    padding-top: 1em;
    }
    
    .usr-acct-lbl{
    display: block;
    margin-left:15.0em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    text-transform: capitalize;
    font-weight:500;
    }
    
    .usr-acct-input{
    margin-left: 18em;
    width: 20em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 8em;
    outline: none;
    }
    
    .btn-user-submit{
    margin-left: 18.5em;
    padding: 0.5em;
    margin-top: 3em;
    width: 18em;
    background-color: red;
    border-radius: 10em;
    outline:none;
    border:0;
    cursor: pointer;
    }
    .btn-sign-in-message{
    
        margin-top: 2em;
        height: 3em;
        width: 20em;
        margin-left: 17.5em;
        text-align: center;
        line-height: 2em;
        background-color:skyblue;
        border-radius: 1em;
    
    }
    
    .show-password-signup{
    margin-left: 19em;
    }
    .show-pwd{
        font-size: 0.7em;
    }
    }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px){
    .col-fil-m-1 {width: 8.33%;}
    .col-fil-m-2 {width: 16.66%;}
    .col-fil-m-3 {width: 25%;}
    .col-fil-m-4 {width: 33.00%;}
    .col-fil-m-5 {width: 41.66%;}
    .col-fil-m-6 {width: 50%;}
    .col-fil-m-7 {width: 58.33%;}
    .col-fil-m-8 {width: 66.66%;}
    .col-fil-m-9 {width: 75%;}
    .col-fil-m-10 {width: 83.33%;}
    .col-fil-m-11 {width: 91.66%;}
    .col-fil-m-12 {width: 100%;}
  
    .sign-in-heading
    {text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
    }
    .user-account{
    padding-bottom: 25em;
    padding-top: 1em;
    }
    
    .usr-acct-lbl{
    display: block;
    margin-left:21.0em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    text-transform: capitalize;
    font-weight:500;
    }
    
    .usr-acct-input{
    margin-left: 20em;
    width: 20em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 8em;
    outline: none;
    }
    
    .btn-user-submit{
    margin-left: 20.5em;
    padding: 0.5em;
    margin-top: 3em;
    width: 18em;
    background-color: red;
    border-radius: 10em;
    outline:none;
    border:0;
    cursor: pointer;
    }
    .btn-sign-in-message{
    
        margin-top: 2em;
        height: 3em;
        width: 20em;
        margin-left: 20.5em;
        text-align: center;
        line-height: 2em;
        background-color:skyblue;
        border-radius: 1em;
    
    }
    
    .show-password-signup{
    margin-left: 21em;
    }
    .show-pwd{
        font-size: 1.0em;
    }
    }  

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .col-fil-lg-1 {width: 8.33%;}
    .col-fil-lg-2 {width: 16.66%;}
    .col-fil-lg-3 {width: 25%;}
    .col-fil-lg-4 {width: 33.00%;}
    .col-fil-lg-5 {width: 41.66%;}
    .col-fil-lg-6 {width: 50%;}
    .col-fil-lg-7 {width: 58.33%;}
    .col-fil-lg-8 {width: 66.66%;}
    .col-fil-lg-9 {width: 75%;}
    .col-fil-lg-10 {width: 83.33%;}
    .col-fil-lg-11 {width: 91.66%;}
    .col-fil-lg-12 {width: 100%;}

    
.sign-in-heading
{text-align: center;
font-size: 1.5em;
margin-top: 1em;
}
.user-account{
padding-bottom: 25em;
padding-top: 1em;
}

.usr-acct-lbl{
display: block;
margin-left:30.0em;
padding: 0.5em;
margin-bottom: 0.5em;
text-transform: capitalize;
font-weight:500;
}

.usr-acct-input{
margin-left: 36.5em;
width: 20em;
padding: 0.5em;
margin-bottom: 0.5em;
border-radius: 8em;
outline: none;
}

.btn-user-submit{
margin-left: 35.5em;
padding: 0.5em;
margin-top: 3em;
width: 18em;
background-color: red;
border-radius: 10em;
outline:none;
border:0;
cursor: pointer;
}
.btn-sign-in-message{

    margin-top: 2em;
    height: 3em;
    width: 20em;
    margin-left: 36.5em;
    text-align: center;
    line-height: 2em;
    background-color:skyblue;
    border-radius: 1em;

}

.show-password-signup{
margin-left: 37.5em;
}
.show-pwd{
    font-size: 1.0em;
}
}
  
@media only screen and (min-width: 1200px) {
    .col-fil-xlg-1 {width: 8.33%;}
    .col-fil-xlg-2 {width: 16.66%;}
    .col-fil-xlg-3 {width: 25%;}
    .col-fil-xlg-4 {width: 33.00%;}
    .col-fil-xlg-5 {width: 41.66%;}
    .col-fil-xlg-6 {width: 50%;}
    .col-fil-xlg-7 {width: 58.33%;}
    .col-fil-xlg-8 {width: 66.66%;}
    .col-fil-xlg-9 {width: 75%;}
    .col-fil-xlg-10 {width: 83.33%;}
    .col-fil-xlg-11 {width: 91.66%;}
    .col-fil-xlg-12 {width: 100%;}

.sign-in-heading
    {text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
}
.user-account{
    padding-bottom: 25em;
    padding-top: 1em;
}

.usr-acct-lbl{
    display: block;
    margin-left:39.5em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    text-transform: capitalize;
    font-weight:500;
}

.usr-acct-input{
    margin-left: 47.5em;
    width: 20em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 8em;
    outline: none;
}

.btn-user-submit{
    margin-left: 49em;
    padding: 0.5em;
    margin-top: 3em;
    width: 18em;
    background-color: red;
    border-radius: 10em;
    outline:none;
    border:0;
    cursor: pointer;
}

.btn-sign-in-message{

    margin-top: 2em;
    height: 5em;
    width: 22em;
    margin-left: 49em;
    text-align: center;
    line-height: 2em;
    background-color:skyblue;

}

.show-password-signup{
    margin-left: 48em;
}
.show-pwd{
    font-size: 1.0em;
}
}